*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
*.apk
/app/release/
/build/reports/
*.jks
.kotlin/errors/
*.keystore
secrets.properties
/.idea/deviceManager.xml
/.idea/